PORT=3000

# Option 1: direct connection string
# MONGODB_URI=mongodb://localhost:27017/capture_extension

# Option 2: MongoDB Atlas (cloud)
MONGODB_USER=lavguptabihiya_db_user
MONGODB_PASSWORD=8QrGMnLLH7gm4guZ
MONGODB_CLUSTER=cluster0.example.mongodb.net
MONGODB_DB_NAME=capture_extension

CORS_ORIGIN=http://localhost:5173
